/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&display=swap");

/* custom properties */
:root {
  --off-white: #f2f2f2;
  --black: rgba(0, 0, 16, 0.8);
  --blue: #0365c0;
  --green: #00cc4f;
  --orange: #ffb144;
  --disabled: rgba(0, 0, 16, 0.3);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
}

/* resets */
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
  font-family: "Lato", sans-serif;
  color: var(--black);
  box-sizing: border-box;
}

header {
  padding: 1rem 2rem;
  background: var(--blue);
  color: var(--off-white);
  font-size: 2rem;
  font-weight: bold;
}

/* main container */
.container {
  padding: 1rem 2rem;
}

/* filters */
.card {
  display: flex;
  background-color: white;
  box-shadow: var(--shadow);
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.filter-card {
  padding: 0.8rem;
}

.filter-container {
  padding: 0.4rem 0.8rem;
}

.filter-text p {
  color: var(--black);
  font-size: 1.3rem;
  padding: 0.3rem;
}

.filter {
  background-color: var(--black);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border: 3px solid var(--blue);
  border-radius: 2.2rem;
}

.filter-form {
  display: flex;
  align-items: center;
}

.filter-all + span {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: var(--off-white);
}

svg {
  fill: var(--off-white);
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input + span,
input + svg {
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-all:hover,
.filter-all:checked + span,
.filter-all:focus + span {
  color: var(--blue);
}

.beer:hover,
.beer:checked + svg,
.beer:focus + svg {
  fill: var(--orange);
}

.hops:hover,
.hops:checked + svg,
.hops:focus + svg {
  fill: var(--green);
}

/* pagination buttons */
.page-btn {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  padding: 0 0.8rem;
  color: var(--off-white);
  cursor: pointer;
  transition: color 0.3s ease;
}
.page-btn:hover {
  color: var(--blue);
}
.page-btn:disabled {
  cursor: default;
  color: var(--disabled);
}
